:root {
    --bg-color: #EDECE1;
    --primary-color: #888B8D;
    --second-color: #C8102E;
    --shadow-1: #81807A;
    --shadow-2: #E0DFD7;
}

html {
    background: gray;
}

body {
    background: var(--bg-color);
    height: 100vh;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.container {
    display: grid;
    grid-template-rows: 40px max-content 40px 40px 100px 100px;
    gap: 12px;
    width: calc(100% - 80px);
}

.visual {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    position: relative;
}

.prob-img {
    width: calc(100% + 40px);
    position: absolute;
}

.ellipse {
    background-color: white;
    border-radius: 50%;
    border: 3px dashed var(--second-color);
    box-shadow: 4px 4px 4px var(--shadow-1);
    position: relative;
    box-sizing: border-box;
}

.tissue,
.prob,
.prob-quantity,
.time,
.power {
    background: white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px var(--shadow-2);
}

.length-line {
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    top: -14px;
}

.length-line div {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -20px;
}

.length-line:before {
    content: "";
    width: 8px;
    height: 2px;
    background: var(--primary-color);
    display: block;
    transform: rotate(90deg);
    position: absolute;
    left: -4px;
}

.length-line:after {
    content: "";
    width: 8px;
    height: 2px;
    background: var(--primary-color);
    display: block;
    transform: rotate(90deg);
    position: absolute;
    right: -4px;
}

.height-line {
    width: 2px;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    right: -14px;
}

.height-line div {
    position: absolute;
    right: -20px;
    display: flex;
    height: 100%;
    align-items: center;
    width: max-content;
    left: 5px;
}

.height-line:before {
    content: "";
    width: 8px;
    height: 2px;
    background: var(--primary-color);
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
}

.height-line:after {
    content: "";
    width: 8px;
    height: 2px;
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: 0;
    right: -3px;
}

.offset-line {
    width: 20px;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    right: 0px;
    display: flex;
    justify-content: center;
}

.offset-line div {
    position: absolute;
    width: max-content;
    top: 6px;
}

.offset-line:before {
    content: "";
    width: 8px;
    height: 2px;
    background: var(--primary-color);
    display: block;
    transform: rotate(90deg);
    position: absolute;
    left: -4px;
}

.offset-line:after {
    content: "";
    width: 8px;
    height: 2px;
    background: var(--primary-color);
    display: block;
    transform: rotate(90deg);
    position: absolute;
    right: -4px;
}