:root {
    --bg-color: #EDECE1;
    --alt-bg-color: #FFFFFF;
    --primary-color: #888B8D;
    --second-color: #C8102E;
    --shadow-1: #81807A;
    --shadow-2: #E0DFD7;
    --border-color: #63666A;
    --border-radius: 8px;
}

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Bold.otf") format("opentype"),
        url("../fonts/CircularStd-Black.otf") format("opentype"),
        url("../fonts/CircularStd-Book.otf") format("opentype");
}

/* tag style */
html {
    background: gray;
    font-family: "CircularStd";
}

body {
    background: var(--bg-color);
    height: 100vh;
    margin: 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 30px;
    padding: 20px 40px;
    box-sizing: border-box;
    position: relative;
}

button {
    border: 0;
    border-radius: var(--border-radius);
    background: inherit;
    color: inherit;
    font-size: 16px;
}

button:disabled {
    border-color: var(--border-color);
}

/* generic style */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--second-color);
    margin: 0 -15px;
}

.header img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-rows: 40px max-content 40px 40px 100px 100px;
    gap: 16px;
    color: var(--primary-color);
    font-size: 14px;
}

.visual {
    justify-content: right !important;
}

.probe-img {
    width: 100%;
}

.ellipse {
    background-color: var(--alt-bg-color);
    border-radius: 50%;
    border: 3px dashed var(--second-color);
    box-shadow: 4px 4px 4px var(--shadow-1);
    box-sizing: border-box;
}

.info-btn {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: var(--alt-bg-color);
    border: 2px solid var(--second-color);
    border-radius: 50%;
    color: var(--second-color);
    font-size: 24px;
    font-weight: bold;
    box-shadow: 4px 4px 8px var(--shadow-1);
}

.tissues,
.probe,
.probe-quantity,
.time,
.power {
    background: var(--alt-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 4px var(--shadow-2);
}

.probe {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 0px 16px;
}

.probe .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    box-shadow: 4px 4px 4px var(--shadow-2);
    z-index: 1;
    display: none;
    top: 40px;
    width: 100%;
    background: white;
    text-align: center;
}

.dropdown-content p {
    margin: 4px 0px;
    color: var(--primary-color);
    cursor: pointer;
}

.dropdown-content p:hover {
    color: var(--second-color);
}

.probe label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.probe .arrow {
    justify-self: flex-end;
}

.probe .arrow.down {
    margin-bottom: 8px;
}

.probe .arrow.up {
    margin-top: 8px;
}

.tissues,
.probe-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tissues .clicked,
.probe-quantity .clicked {
    background: var(--second-color);
    color: var(--alt-bg-color);
    font-weight: bold;
}

.card {
    padding: 4px 16px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.card .unit {
    width: 100%;
    text-align: center;
}

.card .value {
    color: var(--second-color);
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.card .step {
    height: 100%;
    flex-direction: column;
    right: 0;
}

.line {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1.2px;
    background: var(--primary-color);
    height: 2px;
}

.line::before,
.line::after {
    content: "";
    width: 8px;
    height: 2px;
    background: var(--primary-color);
    display: block;
    position: absolute;
}

.length-line {
    width: 100%;
    bottom: -14px;
}

.length-line .value {
    width: 100%;
    bottom: -28px;
}

.length-line:before {
    transform: rotate(90deg);
    left: -4px;
}

.length-line:after {
    transform: rotate(90deg);
    right: -4px;
}

.height-line {
    height: 100%;
    width: 2px;
    right: -14px;
}

.height-line .value {
    right: -20px;
    height: 100%;
    width: max-content;
    left: 8px;
}

.height-line:before {
    top: 0;
    left: -3px;
}

.height-line:after {
    bottom: 0;
    right: -3px;
}

.offset-line {
    top: -16px;
    border: 2px solid var(--primary-color);
    background: transparent;
    box-sizing: border-box;
    border-top: 0;
    border-bottom: 0;
}

.offset-line .value {
    width: max-content;
    top: -24px;
}

.offset-line .len {
    height: 2px;
    background: var(--primary-color);
    top: 4px;
}

.offset-line:before,
.offset-line:after {
    width: 0;
}

.modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 60px 30px;
    box-sizing: border-box;
}

.modal-content {
    border-radius: var(--border-radius);
    border: 4px solid var(--border-color);
    height: 100%;
    background: var(--alt-bg-color);
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    font-weight: bold;
    color: var(--primary-color);
    align-items: unset;
}

#splash-modal .modal-content {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

#splash-modal img {
    width: 50%;
}

.modal-content h4 {
    margin-bottom: 0;
    color: var(--second-color);
}

.modal-content i {
    font-size: 11px;
}

.modal-content ul {
    margin: 0;
    padding-inline-start: 20px;
    color: black;
    list-style: none;
}

.modal-content ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.close {
    color: var(--second-color);
    font-size: 40px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    opacity: 0.7;
    top: 0;
    right: 0;
}

.close:hover,
.close:focus {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.arrow {
    width: 15px;
    height: 15px;
    border-left: 2px solid var(--second-color);
    border-bottom: 2px solid var(--second-color);
    border-radius: 0;
    cursor: pointer;
}

.up {
    transform: rotate(143deg) skew(15deg);
    -webkit-transform: rotate(143deg) skew(15deg);
}

.down {
    transform: rotate(-37deg) skew(15deg);
    -webkit-transform: rotate(-37deg) skew(15deg);
}